* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(184, 41, 31);
    margin: 0 auto;
}


.fuenteTitulo {
    font-family: "Righteous", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.blanco {
    color: #ffffff
}

.subrayado {
    text-decoration: underline;
}

.fuenteTercerTitulo {
    color:white;
    text-align: left;
    text-shadow: 1px 0px 2px black;
    margin: 20px 0;
}

.fuenteSubtitulosFooters {
    color: black;
    text-align: center;
    text-shadow: 1px 0px 2px black;
    margin-bottom: 20px;
}

.textos{
    color: white;
    text-align: left;
}

.personalizarTitulo {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    text-transform: uppercase;
}



nav {
    display: flex;
    justify-content: center;
    text-align: center;
    a {
        color: white;
        margin: 0 10px;
        padding: 0 5px;
        text-decoration: none;
    }
    a:hover{
        background-color: blue;
        border-radius: 10px;
        padding: 0 5px;
    }
    margin-top: 30px;
}

#FotoInicio{
    height: 450px;
    border: solid 2px black;
    border-radius: 25px;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.fotoCarnet {
    height: 150px;
    width: 150px;
    border: solid 3px black
}

.seccion {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.articulos {
    background-color: white;
    border-radius: 15px;
    width: 50%;
    max-width: 50%;
    padding: 30px 30px;
    border: solid 2px black;
    min-width: 300px;
    margin: 5px 0;
}


.articulos *{
    color: black
}

hr {
    border: solid 1px black;
    margin: 20px 0;
}

footer {
    background-color: white;
    border-top: solid 2px black;
    margin-top: 80px;
    padding: 5px;
}

.trailer {
    display: flex;
    justify-content: center;
    iframe {
        border: solid 2px blue;
        border-radius: 10px;
    }
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        width: 50%;
        height: 25px;
        min-width: 250px;
    }
    input:hover, textarea:hover {
        border-color: blue;
        border-radius: 5px;
    }

    textarea {
        resize: none;
        width: 50%;
        height: 150px;
        min-width: 250px;
    }
    button {
        width: 50%;
        margin-top: 15px;
        height: 30px;
    }
}

.envio {
    color: green;
    font-size: 30px;
}

.Rockyconlacamara {
    display: flex;
    justify-content: center;
}

#RockyCamara {
    width: 300px;
    border-radius: 10px;
    border: 3px solid blue;
}

.tituloError {
    color: red;
    font-size: 10rem;
}
