body {
    background-color: rgb(184, 41, 31);
    margin: 0 auto;
}

.fuenteTitulo {
    font-family: "Righteous", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.blanco {
    color: #ffffff
}

.subrayado {
    text-decoration: underline;
}

.fuenteTercerTitulo {
    color:white;
    text-align: left;
    text-shadow: 1px 0px 2px black;
}

.fuenteSubtitulosFooters {
    color: black;
    text-align: center;
    text-shadow: 1px 0px 2px black;
}

.textos{
    color: white;
    text-align: left;
}

.personalizarTitulo {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: center;
    text-align: center;
    a {
        color: white;
        margin: 0 10px;
        padding: 0 5px;
        text-decoration: none;
    }
    a:hover{
        background-color: blue;
        border-radius: 10px;
        padding: 0 5px;

    }
}

#FotoInicio{
    height: 450px;
    border: solid 2px black;
    border-radius: 25px;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.fotoCarnet {
    height: 150px;
    width: 150px;
    border: solid 3px black
}

.seccion {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.articulos {
    background-color: white;
    border-radius: 15px;
    width: 50%;
    max-width: 50%;
    padding: 30px 30px;
    border: solid 2px black;
    min-width: 300px;
    margin: 5px 0;
}


.articulos *{
    color: black
}

hr {
    border: solid 1px black;
}

footer {
    background-color: white;
    border-top: solid 2px black;
    margin-top: 5px;
    padding: 5px;
}

